<header id="close" class="outline" style="--color: black;--width: 4px;">
      <nav>
        <span>Drawin</span>
        <a href="#" class="open hidden" onclick="mobileNav('open')">≡</a>
        <a href="#" class="close hidden" onclick="mobileNav('close')">X</a>
        <a href="/index.html">Info</a>
        <a href="/rules.html">Rules</a>
        <a href="/prompts/index.html">Prompts</a>
        <a href="/entries/index.html">Entries</a>
        <a href="/members/index.html">Members</a>
        <a href="/members/join.html">Join</a>
        <a href="/meta/help.html">Help</a>
    </nav>
</header>
